/* gradient made with https://cssgradient.io/ */
:root {
  --bg-gradient-color: rgb(158,156,186);
  --bg-gradient-image: linear-gradient(225deg, rgba(158,156,186,1) 0%, rgba(113,113,139,1) 51%, rgba(90,87,111,1) 77%);
}

/* reset */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
  font-size: calc(15px + 0.390625vw);
}

* {
  box-sizing: border-box;
}

a:link {
  color: #ebd834;
}

a:visited {
  color: #34ebcd;
}

body {
  padding: 1em;
  height: 100vh;
}

.background__image {
  background-image: url("/static/background.jpg");
}


.gradient-xs {
  background-color: var(--bg-gradient-color);
  background-image: var(--bg-gradient-image);
}

.gradient-sm {
  background-color: transparent;
  background-image: none;
}

.outline-xs {
  border: 1px solid black;
}

.wrapper {
  height: 100%;
  display: flex;
  gap: 10px;
  flex-flow: column;
  border-radius: 15px;
}
  
.header {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-flow: column;
  justify-content: space-around;
}
  
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  border-radius: 15px;
  padding: 1em;
}

.logo__img {
  object-fit: contain;
  height: 90px;
  width: 100%;
}
  
.menu {
  flex: 2;
  gap: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  border-radius: 15px;
  transition: .5s ease;
  padding: 1em;
}

.menu__link:hover {
  box-shadow: 0 0 0 6px #ccc;
  transition: .5s ease;
}

.link__img {
  height: 45px;
  width: 100%;
  object-fit: contain;
}

.main {
  display: flex;
  flex-flow: column;
  padding: 1em 2.5em;
  flex: 1;
  border-radius: 10px;
}

.main__img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

/* Small screens */
@media all and (min-width: 576px) {
  body {
    padding: 3em;
  }

  .wrapper {
    flex-flow: column;
  }
    
  .header {
    flex-flow: row;
    flex: 1;
  }

  .logo__img {
    padding: 0em 1em;
    height: 80px;
    width: auto;
  }
  
  .menu {
    flex-flow: row;
  }

  .menu__link {
    width: 30%;
  }

  .main {
    flex: 2;
  }

  .gradient-xs {
    background-color: transparent;
    background-image: none;
  }

  .gradient-sm {
    background-color: var(--bg-gradient-color);
    background-image: var(--bg-gradient-image);
  }

  .outline-xs {
    border-style: none;
  }

}

/* Medium screens */
@media all and (min-width: 768px) {
  body {
    padding: 4em 5em;
  }

  .wrapper {
    flex-flow: row;
  }
  
  .header {
    flex-flow: column;
    justify-content: space-evenly;
  }
  
  .menu {
    flex-flow: column;
  }

  .menu__link {
    width: 75%;
  }

  .link__img {
    height: 60px;
  }

  .main {
    padding: 4em;
  }
}

/* Large screens */
@media all and (min-width: 992px) {
  body {
    padding: 6vh 12vw;
  }
}

/* Extra large screens */
@media all and (min-width: 1200px) {
  .logo__img {
    height: 100px;
  }
}

/* Extra extra large screens */
@media all and (min-width: 1400px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    width: 100%;
    max-width: 1200px;
    max-height: 800px;
  }
}

